{% extends '_base.html' %}

{% block content %}

    <hr class="offset-md">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="Address">
                    <address>
                        <label class="h3">Unistore, Inc.</label><br>
                        1305 Market Street, Suite 800<br>
                        San Francisco, CA 94102<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>

                    <address>
                        <strong>Support</strong><br>
                        aqaarsham@gmail.com
                    </address>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="GoMap"></div>
            </div>
        </div>
        <br>
    </div>

    <hr class="offset-lg">
    <hr class="offset-lg">


{% endblock content %}