{% extends '_base.html' %}

{% block content %}
    <hr class="offset-lg hidden-xs">
    <hr class="offset-md">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
                <h1 class="align-center">please reset your password</h1>
                <br>

                <form class="signin" action="{% url 'password_reset' %}" method="post"> {% csrf_token %}
                    <input type="password" name="password1" placeholder="Enter the password"
                           class="form-control"/>
                    <br>
                    <input type="password" name="password2" placeholder="Enter the confirm password"
                           class="form-control"/>
                    <br>
                    <button type="submit" class="btn btn-facebook">Change Now</button>

                </form>
            </div>
        </div>
    </div>
    <br><br>
    <br class="hidden-xs">
    <br class="hidden-xs">

{% endblock content %}