{% extends '_base.html' %}

{% block content %}
    <hr class="offset-lg hidden-xs">
    <hr class="offset-md">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
                <h1 class="align-center">Enter Your Email Address</h1>
                <br>

                <form class="signin" action="{% url 'reset_mail' %}" method="post"> {% csrf_token %}
                    <input type="email" name="email" value="" placeholder="Enter the email you registered"
                           class="form-control"/>
                    <br>
                    <button type="submit" class="btn btn-facebook">Confirm</button>

                </form>
            </div>
        </div>
    </div>
    <br><br>
    <br class="hidden-xs">
    <br class="hidden-xs">
{% endblock content %}