{% load static %}
<script src="{% static 'assets/js/jquery-latest.min.js' %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/core.js' %}"></script>
<script src="{% static 'assets/js/carousel.js' %}"></script>
<script src="{% static 'assets/js/carousel-recommendation.js' %}"></script>
<script src="{% static 'assets/js/catalog.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.ui.touch-punch.js' %}"></script>
